<div class="inputShit">
<form #AddNewService="ngForm"   (ngSubmit)="addService(AddNewService)">
    <h1> ADD A NEW SERVICE</h1>
  
    <input type="text" class="selectShit" ngModel name="name"   placeholder="NAME"> <br> <br>
  
    <input type="number" class="selectShit" ngModel name="durationInMinutes"   placeholder="DURATION"><br><br>
   
  

    <input type="number" class="selectShit" ngModel name="price"  ngModel placeholder="PRICE"><br><br>
  
  
    <button type="submit" class="button" [disabled]="!isAbleToSubmit"  for="submitButton" (click)="addService(AddNewService)">ADD NEW</button>
   
  
  <!--    id:number,
    name :string,
    durationInMinutes: number,
    employee:Employee,
    price:number
} -->
  
  
  </form>
</div>