<div class="inputShit">
<form #AddNewService="ngForm"   (ngSubmit)="addService(AddNewService)">
    <h1> ADD A NEW Service</h1>
  
    <input type="text" class="inputShit" ngModel name="name"   placeholder="NAME"> <br> <br>
  
    <input type="number" class="inputShit" ngModel name="durationInMinutes"   placeholder="DURATION"><br><br>
    <div>
        <h6>SELECT AN EMPLOYEE</h6>

    <select name="employeeSelector" id="employee" [(ngModel)]="selectedEmployeeId"> 
        <option *ngFor="let employee of employees" [value]="employee.id" >{{employee.firstName}} {{employee.lastName}}</option>
    </select>
</div>
    <input type="number" class="inputShit"  ngModel name="price"  ngModel placeholder="PRICE"><br><br>
  
    <input type="number" class="inputShit"  ngModel name="yearsOfExperience"   placeholder="YEARS IN FIELD"><br><br>
  
    <input type="text" class="inputShit" ngModel name="position"   placeholder="POSITION"><br><br>
    <button type="submit" class="inputShit" [disabled]="!isAbleToSubmit"  for="submitButton" (click)="addService(AddNewService)">ADD NEW</button>
   
  
  <!--    id:number,
    name :string,
    durationInMinutes: number,
    employee:Employee,
    price:number
} -->
  
  
  </form>
</div>