

<div class="topnav a">
  <a (click)="showEmployeeForm()" style="margin-left: 460px;" [style.background-color]="isShowingEmployeeForm ? 'rgb(78, 78, 78)' : '#343535'" > ADD EMPLOYEE</a>
  <a (click)="showEditFormActivator()" [style.background-color]="isShowingEditForm ? 'rgb(78, 78, 78)' : '#343535'" >EDIT MODE </a>
</div>

<app-employee-form *ngIf="isShowingEmployeeForm"></app-employee-form>

<table  class="table" >
    <thead class="th" >
      <tr class="th" >
        <th >FULL NAME</th>
        <th>EXPERIENCE</th>
        <th>POSITION</th>
        <th>SALARY</th>
        <th *ngIf="!isShowingEditForm">ACTIONS</th>
        
        <th *ngIf="isShowingEditForm" >EDIT -></th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;" *ngFor="let employee of employees">
         <td class="td">
            <div >
                <p >{{employee.firstName}} {{employee.lastName}}</p>
                <p ></p>
              </div>
          <div >
            <img
                src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-6.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            
          </div>
        </td >
        <td class="td">
          <p >{{employee.yearsOfExperience}} YEARS</p>
          <p >{{employee.email}}</p>
        </td>
       

        <td class="td">{{employee.position}}</td>
        <td class="td">{{employee.salary}} $</td>
        <td class="td">
          
          <div *ngIf="!isShowingEditForm" style="position:  relative; left : 64px; "  class="button">
          <button  type="button" class="button" (click)="removeEmployee(employee)" >FIRE</button>
        </div>
        </td>
        <div  *ngIf="isShowingEditForm"  >
          <form #editEmployee="ngForm"  (ngSubmit)="onUpdateEmployee(editEmployee,employee.id)">
      
            <input type="text" class="selectShit" ngModel name="firstName"   placeholder={{employee.firstName}}><br> <br>
          
            <input type="text" class="selectShit" ngModel name="lastName"   placeholder={{employee.lastName}}><br><br>
          
            
            <input type="text" class="selectShit"  ngModel name="email"  ngModel placeholder={{employee.email}}><br><br>
          
            <input type="number" class="selectShit" ngModel name="yearsOfExperience"   placeholder={{employee.yearsOfExperience}}><br><br>
          
            <input type="text"  class="selectShit" ngModel name="position"   placeholder={{employee.position}}><br><br>

            <button type="submit" class="button"  for="submitButton" (click)="onUpdateEmployee(editEmployee,employee.id)">SAVE</button>
          
          </form>
        </div>
      </tr> 
   
      
    </tbody>
  </table>
 



