

<div class="topnav a">
  <a (click)="showEmployeeForm()"  [style.background-color]="isShowingEmployeeForm ? 'rgb(78, 78, 78)' : '#343535'" > ADD EMPLOYEE</a>
  <a (click)="showEditFormActivator()" [style.background-color]="isShowingEditForm ? 'rgb(78, 78, 78)' : '#343535'" >EDIT MODE </a>
</div>

<!-- <button (click)="showEmployeeForm()" style="margin: auto;" type="button" class="block" [style.background-color]="isShowingEmployeeForm ? '#A9A9A9' : '#343535'">ADD NEW EMPLOYEE </button>   
<button (click)="showEditFormActivator()" style="margin: auto;" type="button" class="block" [style.background-color]="isShowingEditForm ? '#A9A9A9' : '#343535'">EDIT EMPLOYEES</button>    -->
<app-employee-form *ngIf="isShowingEmployeeForm"></app-employee-form>

<table  class="table" >
    <thead class="th" >
      <tr>
        <th>FULL NAME</th>
        <th>EXPERIENCE</th>
        <th>SERVICES</th>
        <th>POSITION</th>
        <th>ACTIONS</th>
        <th *ngIf="isShowingEditForm" >EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
         <td class="td">
            <div >
                <p >{{employee.firstName}} {{employee.lastName}}</p>
                <p ></p>
              </div>
          <div >
            <img
                src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-6.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            
          </div>
        </td>
        <td>
          <p >{{employee.yearsOfExperience}} YEARS</p>
          <p >{{employee.email}}</p>
        </td>
        <td  >
         <h6 *ngFor="let service of employee.allowedProceduresToPerform"> - {{service.name}}</h6>   
        </td>

        <td>{{employee.position}}</td>
        <td>
          
          <button type="button" class="button" (click)="removeEmployee(employee)" >FIRE</button>
        </td>
        <div  *ngIf="isShowingEditForm"  >
          <form #editEmployee="ngForm"  (ngSubmit)="onUpdateEmployee(editEmployee,employee.id)">
      
            <input type="text" ngModel name="firstName"   placeholder={{employee.firstName}}><br> <br>
          
            <input type="text" ngModel name="lastName"   placeholder={{employee.lastName}}><br><br>
          
            
            <input type="text"  ngModel name="email"  ngModel placeholder={{employee.email}}><br><br>
          
            <input type="number"  ngModel name="yearsOfExperience"   placeholder={{employee.yearsOfExperience}}><br><br>
          
            <input type="text" ngModel name="position"   placeholder={{employee.position}}><br><br>

            <button type="submit" class="button"  for="submitButton" (click)="onUpdateEmployee(editEmployee,employee.id)">SAVE</button>
          
          </form>
        </div>
      </tr> 
   
      
    </tbody>
  </table>
 



