.inputShit{
    text-align: center;
    margin: auto;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.button{
    text-align: center;
    top:40%;
    background-color:#343535;
    color: #ffff;
    border:#333; 
    border-radius: 20px; 
    padding:10px;
    height:30px; 
    width: 100px;
  }
  .button :hover{
    
    background-color:rgb(78, 78, 78);
    transition: 0.7s;
  }
  