

<div class="topnav">
<a type="button" style="margin-left: 41%;" [style.background-color]="isShowingForm ? 'rgb(78, 78, 78)' : '#343535'"  (click)="showFormToggle()">ADD NEW SERVICE</a>   
</div>

<app-service-form *ngIf="isShowingForm"></app-service-form>
<table class="table">
    <thead  class="th">
      <tr>
        <th>SERVICE NAME</th>
        <th>DURATION</th>
        <th>PRICE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;" *ngFor="let service of services">
         <td class="td">
            <div >
                <p >{{service.name }}</p> <span *ngIf="!service.active" style="color: red;">SERVICE NOT AVAILBLE</span>
                <p ></p>
              </div>
          <div >
          
            
          </div>
        </td >
        <td class="td">
          <p >{{service.durationInMinutes}} MINUTES</p>
          <p ></p>
        </td>
        <td class="td"  >
         <h6 class="td" style="font-size: 17px;">{{service.price}} $</h6>    
        </td>

       
        <td class="td" >
          <button type="button"  class="button"   (click)="removeService(service.id,service)" >
            REMOVE
          </button>
        </td>
      </tr> 
    
      
    </tbody>
  </table>




