

<button type="button" class="block">ADD NEW SERVICE</button>   
<!--  IMPLEMENT U FUCKER  -->

<table class="table">
    <thead  class="th">
      <tr>
        <th>SERVICE NAME</th>
        <th>DURATION</th>
        <th>PRICE</th>
        <th></th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
         <td class="td">
            <div >
                <p >{{service.name}}</p>
                <p ></p>
              </div>
          <div >
          
            
          </div>
        </td>
        <td>
          <p >{{service.durationInMinutes}} MINUTES</p>
          <p ></p>
        </td>
        <td  >
         <h6>{{service.price}}</h6>    
        </td>

        <td></td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr> 
    
      
    </tbody>
  </table>




