<div class="inputShit" >
    <form #addNewExpense="ngForm"   (ngSubmit)="addExpense(addNewExpense)">
        
      <h4>NEW EXPENSE</h4>
    
      <input type="text"  class="selectShit" ngModel name="name"   placeholder="NAME"> <br> <br>
    
      <input type="number" ngModel name="sum"  class="selectShit" placeholder="AMOUNT"><br><br>
    
      
      <input type="text" class="selectShit" ngModel name="description"  ngModel placeholder="DESC"><br><br>
    
     
      <button type="submit" class="button" style="margin: auto;" [disabled]="!isAbleToSubmit"   for="submitButton" (click)="addExpense(addNewExpense)">ADD NEW</button>
     
    
    
    
    
    </form>
    </div>
    