

<div class="topnav a">
<a (click)="showClientForm()"  [style.background-color]="isShowingClientForm ? 'rgb(78, 78, 78)' : '#343535'" > ADD CLIENT</a>
  <a (click)="showEditForm()" [style.background-color]="isShowingEditForm ? 'rgb(78, 78, 78)' : '#343535'">EDIT MODE</a>
</div>
<app-client-form *ngIf="isShowingClientForm"></app-client-form>
<table class="table" >
    <thead class="th" >
      <tr>
        <th>FULL NAME</th>
        <th>PHONE NUMBER</th>
        <th>ID</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
         <td>
            <div >
                <p >{{client.firstName}} {{client.lastName}}</p>
                <p ></p>
              </div>
          <div >
            <img
                src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-6.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            
          </div>
        </td>
        <td>
          <p >{{client.phoneNumber}}</p>
          <p ></p>
        </td>
        <td>{{client.id}}</td>
        <td  >
      
          <button type="button" (click)="removeClient(client)" >
            REMOVE
          </button>
        </td>
         <div  *ngIf="isShowingEditForm"  >
          <form #editClient="ngForm"  (ngSubmit)="onUpdateClient(editClient,client.id)">
      
            <input type="text" ngModel name="firstName"   placeholder={{client.firstName}}><br> <br>
          
            <input type="text" ngModel name="lastName"   placeholder={{client.lastName}}><br><br>
          
            
            <input type="text"  ngModel name="phoneNumber"  ngModel placeholder={{client.phoneNumber}}><br><br>
  
            <button type="submit"   for="submitButton" (click)="onUpdateClient(editClient,client.id)">SAVE</button>
          
          </form>
        </div>
      </tr> 
    
      
    </tbody>
  </table>




