.inputShit{
    border-radius: 20px;
    width: 150px;
    background-color: rgba(203, 218, 205, 0);
    left: 100px;
   margin: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 10%;
   margin-left: 10%;
   padding: 0px;
}