
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
  display: block;
 overflow: hidden;
 margin: auto;
font-style: normal;

  }
  .topnav a {
    color: #A9A9A9;
    text-align: center;
    padding: 10px 12px;
    font-size: 18px;
    display: inline-block;
    list-style-type: none;


    
  }
  .background{
background-color: rgb(88, 95, 95);
margin: auto;
  }
  .topnav a:hover {
    background-color: rgb(84, 59, 51);
    color: rgb(255, 255, 255);
  }
  
  .topnav a:active {
    background-color: #2a1e1e;
    color: rgb(255, 255, 255);
  }
  .table{
    text-align: start;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    

    
  }
  
  .th {
    background-color: #333;
      color: #ffffff;
      text-align: center;
  }
  .td{
    text-align: center;
    padding: 12px 15px;
    background-color: #A9A9A9;
  
    
  }
  .tr{
    text-align: center;
    background-color: #A9A9A9;

  }
  
  
  .button{
    text-align: center;
    top:40%;
    background-color:#343535;
    color: #ffff;
    border:#333; 
    border-radius: 20px; 
    padding:10px;
    height:30px; 
    width: 100px;
    cursor : pointer;
  }
  .button :hover{
    
    background-color:rgb(84, 59, 51);
    color: #A9A9A9;
    transition: 0s;
    
  }
  .inputShit{
    display: inline-block;
    text-align: center;
    margin: auto;
    display: table;
    padding: 2px;
    padding-top: 0px;
    width: 99%;
    align-items: flex-start;
    align-content: space-between;



}
.selectShit{
  display: inline-flex;
  width: 150px;
  padding: 0;
  border-radius: 10px;
  text-align: center;
}
.tr:hover{
  background-color: rgb(189, 30, 30);

}