.test{
    color: green;
    background-color: green;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #A9A9A9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgb(187, 187, 187);
    color: rgb(255, 255, 255);
  }
  
  .topnav a:active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
  }
  
  .th {
    background-color: #343535;
      color: #ffffff;
      text-align: left;
  }
  .td{
    padding: 12px 15px;
  
  }
  
  
  .button{
    text-align: center;
    top:40%;
    background-color:#343535;
    color: #ffff;
    border:#333; 
    border-radius: 20px; 
    padding:10px;
    height:30px; 
    width: 100px;
  }
  .button :hover{
    
    background-color:rgb(78, 78, 78);
    transition: 0.7s;
  }
  .inputShit{
    text-align: center;
    margin: auto;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}