
<div class="topnav a">
  <a (click)="showAddForm()"  [style.background-color]="isShowingAppointmentForm ? 'rgb(78, 78, 78)' : '#343535'" > ADD APPOINTMENT</a>
  </div>
  <app-appointment-form *ngIf="isShowingAppointmentForm"></app-appointment-form>
 
<table class="table" >
    <thead class="th">
      <tr>
        <th>CLIENT FULL NAME</th>
        <th>EMPLOYEE</th>
        <th>SERVICES</th>
        <th>TIME</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
         <td class="td">
            <div >
            
                <p > {{appointment.client.firstName}} {{appointment.client.lastName}}</p>
                <p ></p> 
              </div>
          <div >
            <img
                src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-6.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            
          </div>
        </td>
        <td class="td">
         
          
          <span *ngIf="!appointment.employee.active">  </span>

          <p  > {{appointment.employee.firstName}} {{appointment.employee.lastName}}  
            <span *ngIf="appointment.employee.active" class="firedFucker">FIRED</span>
          </p>
          <div  >
            <img
                src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-6.jpg"
                alt=""
                style="width: 45px; height: 45px;color: #000;"
                class="rounded-circle"
              
                />
            <div></div>
          </div>
        </td>
        
        <td  class="td" >
         <h6> - {{appointment.someService.name}}</h6>   
        </td>

        <td class="td">{{appointment.localDateTime}}</td>
        <td class="td">
          <button type="button" (click)="cancelAppointment(appointment.id)" >
            CANCEL
          </button>

        </td>
       
      </tr> 
    
      
    </tbody>
  </table>




